{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Acme NFT</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <script src="https://kit.fontawesome.com/53154f2da0.js" crossorigin="anonymous"></script>
    {% block extrahead %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>