{% extends 'base.html' %}
{% load static %}

{% block extrahead %}

{% endblock %}

{% block content %}


    <div class="content pt-5 pb-5 pe-5 ps-5" style="background-color: var(--main-white);">

        <div class="row">
            <h1 style="color:var(--main-color)">Política de Protección de Datos del Servicio</h1>
        </div>

        <div class="row">

            <h4 style="color: var(--main-color)">INFORMACIÓN AL USUARIO</h4>


            <span><strong>Acme Inc.</strong>, como Responsable del Tratamiento, le informa que, según lo dispuesto
                en el Reglamento (UE) 2016/679, de 27 de abril, (RGPD) y en la L.O. 3/2018, de 5 de diciembre, 
                de protección de datos y garantía de los derechos digitales (LOPDGDD), trataremos su datos tal y como 
                reflejamos en la presente Política de Protección de Datos.
                </br></br>
                En esta Política de Protección de Datos describimos cómo recogemos sus datos personales y por qué los recogemos; 
                qué hacemos con ellos, con quién los compartimos, cómo los protegemos y sus opciones en cuanto al 
                tratamiento de sus datos personales.
                </br></br>
                Esta Política se aplica al tratamiento de sus datos personales recogidos por la empresa para la 
                prestación de sus servicios. Si acepta las medidas de esta Política, acepta que tratemos sus datos 
                personales como se define en esta Política.
                </br></br>
            </span>

            <h4 style="color: var(--main-color)">CONTACTO</h4>

            <span>
                <ul>
                    <li>
                        Denominación social: <strong>Acme Inc.</strong>
                    </li>
                    </br>
                    <li>
                        Nombre comercial: <strong>Acme</strong>
                    </li>
                    </br>
                    <li>
                        CIF: <strong>A25821182</strong>
                    </li>
                    </br>
                    <li>
                        Domicilio: <strong>Av/ Reina Mercedes, ETSII, Sevilla, España</strong>
                    </li>
                    </br>
                    <li>
                        Email contacto:  <strong>contacto@acme.com</strong>
                    </li>
                </ul>

            </span>


            <h4 style="color: var(--main-color)">PRINCIPIOS CLAVE</h4>

            <span>
                Siempre hemos estado comprometidos con prestar nuestros servicios con el más alto grado de calidad, 
                lo que incluye tratar sus datos con seguridad y transparencia. Nuestros principios son:
                </br></br>
                <ul>
                    <li>
                        <strong>Legalidad:</strong> Sólo recopilaremos sus datos personales para fines específicos, 
                        explícitos y legítimos.
                    </li>
                    </br>
                    <li>
                        <strong>Minimización de datos:</strong> Limitamos la recogida de datos de carácter personal 
                        a lo que es estrictamente relevante y necesario para los fines para los que se han recopilado.

                    </li>
                    </br>
                    <li>
                        <strong>Limitación de la Finalidad:</strong> Sólo recogeremos sus datos personales para los 
                        fines declarados y solo según sus deseos.

                    </li>
                    </br>
                    <li>
                        <strong>Precisión:</strong> Mantendremos sus datos personales exactos y actualizados.
                    </li>
                    </br>
                    <li>
                        <strong>Seguridad de los Datos:</strong> Aplicamos las medidas técnicas y organizativas 
                        adecuadas y proporcionales a los riesgos para garantizar que sus datos no sufran daños, 
                        tales como divulgación o acceso no autorizado, la destrucción accidental o ilícita o su 
                        pérdida accidental o alteración y cualquier otra forma de tratamiento ilícito.
                    </li>
                    </br>
                    <li>
                        <strong>Acceso y Rectificación:</strong> Disponemos de medios para que acceda o rectifique 
                        sus datos cuando lo considere oportuno.
                    </li>
                    </br>
                    <li>
                        <strong>Conservación:</strong> Conservamos sus datos personales de manera legal y apropiada 
                        y sólo mientras es necesario para los fines para los que se han recopilado.
                    </li>
                    </br>
                    <li>
                        <strong>Las transferencias internacionales:</strong> cuando se dé el caso de que sus datos 
                        vayan a ser transferidos fuera de la UE/EEE se protegerán adecuadamente.
                    </li>
                    </br>
                    <li>
                        <strong>Terceros:</strong> El acceso y transferencia de datos personales a terceros se 
                        llevan a cabo de acuerdo con las leyes y reglamentos aplicables y con las garantías 
                        contractuales adecuadas.
                    </li>
                    </br>
                    <li>
                        <strong>Marketing Directo y cookies:</strong> Cumplimos con la legislación aplicable en 
                        materia de publicidad y cookies.
                    </li>
                </ul>
            </span>

            <h4 style="color: var(--main-color)">RECOGIDA Y TRATAMIENTO DE SUS DATOS PERSONALES</h4>

            <span>
                Los tipos de datos que se pueden solicitar y tratar son de carácter identificativo.
                </br></br>
                Siempre que solicitemos sus datos personales, le informaremos con claridad de qué datos 
                personales recogemos y con qué fin. En general, recogemos y tratamos sus datos personales 
                con el propósito de:
                </br></br>
                <ul>
                    <li>
                        Proporcionar información sobre productos.
                    </li>
                    </br>
                    <li>
                        Envío de comunicaciones.
                    </li>
                </ul>
            </span>

            <h4 style="color: var(--main-color)">LEGITIMIDAD</h4>

            <span>
                De acuerdo con la normativa de protección de datos aplicable, sus datos personales podrán 
                tratarse siempre que:
                </br></br>
                <ul>
                    <li>
                        Nos ha dado su consentimiento a los efectos del tratamiento. Por supuesto podrá retirar 
                        su consentimiento en cualquier momento.
                    </li>
                    </br>
                    <li>
                        Sea necesario por requerimiento legal.
                    </li>
                    </br>
                    <li>
                        Sea necesario por existir un interés legítimo que no se vea menoscabado por sus derechos de 
                        privacidad.
                    </li>
                    </br>
                    <li>
                        Sea necesario para la prestación de alguno de nuestros servicios mediante relación contractual entre 
                        usted y nosotros.
                    </li>
                </ul>
            </span>

            <h4 style="color: var(--main-color)">COMUNICACIÓN DE DATOS PERSONALES</h4>

            <span>
                Los datos pueden ser comunicados a empresas relacionadas con <strong>Acme Inc.</strong>
                para la prestación de los diversos servicios en calidad de Encargados del Tratamiento. La empresa 
                no realizará ninguna cesión, salvo por obligación legal.
            </span>


            <h4 style="color: var(--main-color)">SUS DERECHOS</h4>

            <span>
                En relación con la recogida y tratamiento de sus datos personales, puede ponerse en contacto con 
                nosotros en cualquier momento para:
                </br></br>
                <ul>
                    <li>
                        Acceder a sus datos personales y a cualquier otra información indicada en el 
                        Artículo 15.1 del RGPD.
                    </li>
                    </br>
                    <li>
                        Rectificar sus datos personales que sean inexactos o estén incompletos de acuerdo 
                        con el Artículo 16 del RGPD.
                    </li>
                    </br>
                    <li>
                        Suprimir sus datos personales de acuerdo con el Artículo 17 del RGPD.
                    </li>
                    </br>
                    <li>
                        Limitar el tratamiento de sus datos personales de acuerdo con el Artículo 18 del RGPD.
                    </li>
                    </br>
                    <li>
                        Solicitar la portabilidad de sus datos de acuerdo con el Artículo 20 del RGPD.
                    </li>
                    </br>
                    <li>
                        Oponerse al tratamiento de sus datos personales de acuerdo con el artículo 21 del RGPD.
                    </li>
                </ul>
                </br></br>
                Si ha otorgado su consentimiento para alguna finalidad concreta, tiene derecho a retirar el 
                consentimiento otorgado en cualquier momento, sin que ello afecte a la licitud del tratamiento 
                basado en el consentimiento previo a su retirada.
                </br></br>
                Puede ejercer estos derechos enviando comunicación, motivada y acreditada, a  contacto@acme.com
                </br></br>
                También tiene derecho a presentar una reclamación ante la Autoridad de control competente 
                (<a href="https://www.aepd.es">www.aepd.es</a>) si considera que el tratamiento no se ajusta a la normativa 
                vigente.
            </span>

            <h4 style="color: var(--main-color)">INFORMACIÓN LEGAL</h4>

            <span>
                Los requisitos de esta Política complementan, y no reemplazan, cualquier otro requisito existente bajo 
                la ley de protección de datos aplicable, que será la que prevalezca en cualquier caso.
                </br></br>
                Esta Política está sujeta a revisiones periódicas y la empresa puede modificarla en cualquier momento. 
                Cuando esto ocurra, le avisaremos de cualquier cambio y le pediremos que vuelva a leer la versión más 
                reciente de nuestra Política y que confirme su aceptación.
            </span>

        </div>

    </div>


{% endblock %}