{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="main" style="display: flex; flex-direction: column; align-content: center; justify-content: center;">  	
		<h1 style="color: aliceblue; text-align: center;">Ha ocurrido un error</h1>
    <a href="{% url 'acme-nft:index' %}"><button>Return</button></a>
  </div>
{% endblock %}