{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
<section>
    <div style="display: flex; justify-content: center;">
        <a class="class-link" href="?order-by=collections" role="button">Ordenar por Colección</a>
        <a class="class-link" href="?order-by=author" role="button">Ordenar por Autor</a>
        <br><br>
    </div>
    <div style="margin-top: 25px;">

        <div class="class-grid-container">

            {% for product in products %}
            
                <div class="class-card">
                    <div class="class-img-box">
                        <img src="/static/{{product.image_url}}" alt="{{product.name}}" />
                        <h2 style="text-align: center;">{{product.name}}</h2>
                    </div>
        
                    <div class="class-content">
                        <a href="/product/{{product.id}}" class="class-link">Ver producto</a>
                        <div class="class-icons-row">
                            {% if user.is_authenticated %}
                            <div class="class-lista-deseos">
                                {% if product.id in wishlist %}
                                <img src="{% static 'images/heart-lleno.png'%}" alt="Añadir a lista de deseos" id="product-{{product.id}}-img"></img>
                                {% else %}
                                <img src="{% static 'images/heart.png'%}" alt="Añadir a lista de deseos" id="product-{{product.id}}-img"></img>
                                {% endif %}
                            </div>
                            <div class="class-carrito">
                                <img src="{% static 'images/cart.png' %}" alt="Añadir al carrito" width="30px" height="30px">
                                <form action="{% url 'acme-nft:add_to_cart' product.id %}" id="add-cart-{{product.id}}" method="POST">
                                    {% csrf_token %} 
                                    <input type="hidden" name="quantity" value="1">
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        <div class="pagination-container">
            <div class="pagination-box">
                <ul class="pagination">
                    <li class="d-flex justify-content-center align-items-center">
                        <button style="border:none" class="btn" onclick="previousPage({{pages_range.start}}, {{pages_range.stop}})">Anterior</button>
                    </li>
                    {% for i in pages_range %}
                        {% if i == current_page %}
                        <li><a href="?page={{i}}" class="active">{{ i | addition:1 }}</a></li>
                        {% else %}
                        <li><a href="?page={{i}}">{{ i | addition:1 }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="d-flex justify-content-center align-items-center">
                        <button style="border:none" class="btn" onclick="nextPage({{pages_range.start}}, {{pages_range.stop}})">Siguiente</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}