<!DOCTYPE html>
<html>
<head>
  {% load static %}
	<title>Acme NFT</title>
  <meta charset="utf-8" />
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form action="/register" method="POST">
          			{% csrf_token %}
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="name" placeholder="Name" required="True">
					<input type="text" name="surname" placeholder="Surname" required="True">
					<input type="text" name="username" placeholder="Username" required="True">
					<input type="email" name="email" placeholder="Email" required="True">
					<input type="password" name="password" placeholder="Password" required="True">
					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<form action="/login" method="POST">
          			{% csrf_token %}
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="password" placeholder="Password" required="">
					<button>Login</button>
				</form>
			</div>
	</div>
	<div class="errors-div">
		{% for error in errors %}
			<label class="error" for="chk" aria-hidden="true">
				{{ error }}
			</label>
		{% endfor %}
	</div>
</body>
</html>