{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/product_details.css' %}">
    <script type="text/javascript" src="{% static 'js/product_details.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="product-detail-page">
        <div class="details-container">
            <div class="img-and-desc-div">
                <div class="img-div">
                    <img src="/static/{{ product.image_url }}" alt="{{product.name}}">
                </div>
                <div class="desc-div">
                    <div class="desc-section" style="flex-direction: column">
                        <h1>{{ product.name }}</h1>
                        <h4 class="rarity-text {{product.rarity.lower}}">Rareza: {{ product.rarity }}</h4>
                        <h4 class="colecction-text">Colección: {{ product.collection }}</h4>
                        <h4 class="author-text">Autor: {{ product.author.name }}</h4>
                    </div>
                    <div class="desc-section">
                        <form action="/wishlist/add/{{product.id}}" id="wishlist-form">
                            <span>Cantidad:<input class="input-cantidad" type="number" value="1" min="1"></input></span>
                        </form>
                        <h2>{{ product.price }} €</h2>
                    </div>
                    <div class="desc-section" id="buttons-section">
                        {% if user.username != "anonymous" %}
                        <button id="wishlist-button">
                            Añadir a lista de deseos
                            {% if in_wishlist %}
                                <i class="fa-solid fa-heart fa-lg heart" id="product-{{product.id}}-img"></i>
                            {% else %}
                                <i class="fa-regular fa-heart fa-lg heart" id="product-{{product.id}}-img"></class=>
                            {% endif %}
                        </button>
                        {% endif %}
                        <button>
                            Añadir al carrito<i class="fa fa-cart-plus fa-lg cart" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="comments-div">
                <!-- <button class="new-comment-button"> Añadir comentario </button> -->
                <button class="new-comment-button">Añade tu comentario</button>
                <div class="modal-background"></div>
                <div id="modal-flip-from-left" class="modal">
                    <div class="face-3d back-3d"></div>
                    <div class="face-3d front-3d">
                      <h2>¡Escribe tu comentario!</h2>
                      <form action="/comments/add/{{product.id}}" method="POST" id="post-comment-form">
                        {% csrf_token %}
                        <textarea id="comment-input" name="comment" value="" placeholder="Escribe tu comentario..."></textarea>
                        <button class="publish-comment-button">Publicar</button>
                      </form>
                    </div>
                </div>
                <div class="comments-list">
                    {% for comment in comments %}
                        <div class="comment">
                            <div class="comment-header">
                                <h4 class="comment-author" style="margin-right: 40px;">@{{ comment.user.username }}</h4>
                                <h4 class="comment-date">{{ comment.date }}</h4>
                            </div>
                            <div class="comment-body">
                                <p class="comment-text">{{ comment.text }}</p>
                            </div>
                        </div>
                    {% empty %}
                        <div class="no-comment">
                            <h3>No hay comentarios, ¡sé el primero en comentar!</h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}