{% extends 'base.html' %}
{% load static %}

{% block extrahead %}

{% endblock %}

{% block content %}


    <div class="content pt-5 pb-5 pe-5 ps-5" style="background-color: var(--main-white);">

        <div class="row">
            <h1 style="color:var(--main-color)">Política de privacidad</h1>
        </div>

        <div class="row">

            <ol>
              <li>Ninguna devolución será aceptada si no cumple la política de devolución establecida en este documento.</li>
              <li>Para realizar una devolución, se debe presentar una solicitud explicando el motivo de la devolución que pasará a ser evaluada por la gestión de ventas de la empresa.</li>
              <li>Ninguna devolución será aceptada si la gestión de ventas de la empresa no da su autorización para llevarse a cabo.</li>
              <li>Junto con la solicitud de devolución, se debe de aportar la factura en la que aparezcan los productos que solicitan devolver.</li>
              <li>La solicitud de devolución debe ser presentada durane los primeros 14 días posteriores a la compra.</li>
                <li>La devolución de los productos se realizará en un plazo máximo de 14 días posteriores a la aceptación de la solicitud de devolución por parte de la gestión de ventas de la empresa.</li>
                <li>Las solictudes de devolución serán presentadas mediante el correo electrónico de la tienda</li>
                <li>Las devoluciones sólo se aceptarán por la gestión de ventas de la empresa.</li>
                <li>Solo se aceptarán devoluciones en el caso de que el cliente no reciba el producto o los productos que ha comprado o el cliente reciba un producto o un conjunto de productos distintos a los que el cliente compró.</li>
                <li>La devolución de un producto que cumpla los requisitos mencionados anteriormente, conlleva al envío de los productos correctos que el cliente solicitó en su compra.</li>
                <li>En ningún caso, una devolución supondrá el reintegro de la cantidad del pedido.</li>
                <li>Solo las devoluciones que cumplan con los requisitos establecidos y que haya recibido la autorización de la gestión de ventas de la empresa serán aceptadas.</li>
                <li>En el caso de que se inicie el proceso de devolución por un producto recibido que no correspondía con el de la compra, el cliente estará obligado a firmar la documentación legal necesaria que implica la renuncia de los derechos del producto erróneo.</li>
                <li>No se aceptarán devoluciones de productos que estén rebajados o que se encuentren descatalogados.</li>
                <li>Dado el caso de una devolución, los costos de ella correrán a cargo de la empresa dado que se considera como un fallo en el sistema de compra.</li>
                <li>Se procesarán las devoluciones siempre y cuando los productos hayan sido adquiridos en la empresa ACME-NFT.</li>
                <li>En el caso de una devolución no contemplada en esta política de devoluciones será evaluada por la Dirección de la empresa y podría conllevar un importe adicional que correría a cargo de la parte compradora.</li>
            </ol>

        </div>

    </div>


{% endblock %}