{% extends 'base.html' %}
{% load static %}

{% block extrahead %}

{% endblock %}

{% block content %}


    <div class="content mt-5 mb-5 me-5 ms-5">

        <div class="row">
            <h1 style="color:var(--main-color)">Política de devoluciones</h1>
        </div>
        <br>
        <div class="row">

            <p>EN ESTA SECCIÓN SE ESPECIFICA LA POLÍTICA DE DEVOLUCIONES DE LA
                TIENDA Y LA CUAL ESTRUCTURAMOS EN LAS PREGUNTAS FRECUENTES QUE
                LES SURGEN A LOS USUARIOS.</p>
            <br>
            <h4 style="color: var(--main-color)">¿CUÁNTO TIEMPO DISPONGO PARA
                SOLICITAR UNA DEVOLUCIÓN</h4>
            <br>
            <p>PARA FORMALIZAR UNA SOLICITUD DE DEVOLUCIÓN, ESTA DEBE SER
                PRESENTADA ANTES DE LOS 14 DÍAS POSTERIORES A LA REALIZACIÓN DE
                LA COMPRA.</p>
            <br>
            <h4 style="color: var(--main-color)">¿QUÉ PRODUCTOS PUEDO DEVOLVER?</h4>
            <br>
            <p>SOLO SE ACEPTARÁN DEVOLUCIONES EN EL CASO DE QUE EL CLIENTE NO
                RECIBA EL PRODUCTO O LOS PRODUCTOS QUE HA COMPRADO O EL CLIENTE
                RECIBA UN PRODUCTO O UN CONJUNTO DE PRODUCTOS DISTINTOS A LOS
                QUE EL CLIENTE COMPRÓ.</p>
            <br>

            <p>ADEMÁS, NO SE ACEPTARÁN DEVOLUCIONES DE PRODUCTOS QUE ESTÉN REBAJADOS
                O QUE SE ENCUENTREN DESCATALOGADOS.</p>
            <br>

            <p>SE PROCESARÁN LAS DEVOLUCIONES SIEMPRE Y CUANDO LOS PRODUCTOS
                HAYAN SIDO ADQUIRIDOS EN LA EMPRESA ACME-NFT.</p>
            <br>


            <h4 style="color: var(--main-color)">¿CUÁNTO ME CUESTA LA DEVOLUCIÓN?</h4>
            <br>

            <p>PUESTO QUE EN CASO DE DEVOLUCIÓN LA RESPONSABLE DE QUE EL CLIENTE NO
                HAYA RECIBIDO LOS PRODUCTOS QUE COMPRÓ, LOS COSTES DE DEVOLUCIÓN
                CORRERÁN A CARGO DE LA EMPRESA.</p>
            <br>


            <h4 style="color: var(--main-color)">¿QUÉ DEBO HACER PARA PRESENTAR UNA
                SOLICITUD?</h4>
            <br>

            <p>A CONTINUACIÓN SE  DETALLA PROCESO DE UNA DEVOLUCIÓN:</p>
            <br>

            <p>EN PRIMER LUGAR, EL CLIENTE DEBE PRESENTAR UNA SOLICITUD EXPLICANDO EL
                MOTIVO DE LA DEVOLUCIÓN. ESTA SOLICITUD SERÁ PRESENTADA POR LOS MEDIOS
                DE CONTACTO OFRECIDOS POR LA EMPRESA EN EL SISTEMA Y EL CLIENTE DEBERÁ
                DE APORTAR, VÍA EMAIL, JUNTO CON LA SOLICITUD LA FACTURA EN LA QUE APAREZCAN
                LOS PRODUCTOS QUE SOLICITAN DEVOLVER.</p>
            <br>

            <p>SOLO SERÁN ACEPTADAS LAS SOLICITUDES DE DEVOLUCIÓN QUE CUMPLAN CON LOS
                REQUISITOS MENCIONADOS EN ESTA POLÍTICA DE DEVOLUCIÓN. EN EL CASO DE
                NO CUMPLIRSE ALGUNOS DE ESTOS REQUISITOS LA SOLICITUD SERÁ DESECHADA
                Y EL PROCESO DE DEVOLUCIÓN SERÁ CANCELADO, AVISANDO AL SOLICITANTE
                QUE SU SOLICITUD HA SIDO DENEGADA.</p>
            <br>

            <p>POSTERIORMENTE, ESTA SOLICITUD SERÁ EVALUADA POR LA GESTIÓN DE VENTAS
                DE LA EMPRESA. NINGUNA DEVOLUCIÓN SERÁ ACEPTADA SI NO CUMPLE LA
                POLÍTICA DE DEVOLUCIÓN ESTABLECIDA EN ESTE DOCUMENTO. SOLO LA GESTIÓN
                DE VENTAS DE LA EMPRESA TIENE LA POTESTAD DE ACEPTAR LA SOLICITUD E
                INICIAR EL PROCESO DE DEVOLUCIÓN. NINGUNA DEVOLUCIÓN SERÁ ACEPTADA SI
                LA GESTIÓN DE VENTAS DE LA EMPRESA NO DA SU AUTORIZACIÓN PARA LLEVARSE
                A CABO.</p>
            <br>

            <p>UNA VEZ QUE LA GESTIÓN DE VENTAS DE LA EMPRESA DÉ EL VISTO BUENO, SE
                INICIARÁ LA DEVOLUCIÓN.</p>
            <br>
            <h4 style="color: var(--main-color)">¿QUÉ CONLLEVA UNA DEVOLUCIÓN?</h4>
            <br>
            <p>LA DEVOLUCIÓN DE UN PRODUCTO QUE CUMPLA LOS REQUISITOS MENCIONADOS
                ANTERIORMENTE Y QUE HAYA SIDO APROBADA POR LA GESTIÓN DE VENTAS DE
                LA EMPRESA, CONLLEVA AL ENVÍO DE LOS PRODUCTOS CORRECTOS QUE EL
                CLIENTE SOLICITÓ EN SU COMPRA.</p>
            <p>EN NINGÚN CASO, UNA DEVOLUCIÓN SUPONDRÁ EL REINTEGRO DE LA CANTIDAD
                DEL PEDIDO.</p>
            <p>EN EL PROCESO DE DEVOLUCIÓN,EL CLIENTE ESTARÁ OBLIGADO A FIRMAR LA
                DOCUMENTACIÓN LEGAL NECESARIA QUE IMPLICA LA RENUNCIA DE LOS DERECHOS
                DEL PRODUCTO QUE RECIBIÓ ERRÓNEAMENTE Y ESTOS PASARÁN A SER PROPIEDAD
                DE LA EMPRESA.</p>

            <p>UNA DEVULOCIÓN PUDE DURAR UNOS 30 DÍAS DESDE LA FECHA DE COMPRA DEL
            PRODUCTO</p>
            <br>





            <h4 style="color: var(--main-color)">¿TU CASO NO SE CONTEMPLA EN ESTA
                POLÍTICA?</h4>
            <br>
            <p>EN EL CASO DE UNA DEVOLUCIÓN NO CONTEMPLADA EN ESTA POLÍTICA DE
                DEVOLUCIONES SERÁ EVALUADA POR LA DIRECCIÓN DE LA EMPRESA Y
                PODRÍA CONLLEVAR UN IMPORTE ADICIONAL QUE CORRERÍA A CARGO DE LA
                PARTE COMPRADORA.</p>
        </div>

    </div>


{% endblock %}