{% extends 'base.html' %}
{% load static %}

{% block extrahead %}

{% endblock %}

{% block content %}


    <div class="content mt-5 mb-5 me-5 ms-5">

        <div class="row">
            <h1 style="color:var(--main-color)">Términos del servicio</h1>
        </div>

        <div class="row">

            <p>Este contrato describe los términos y condiciones generales que
                rigen el acceso y uso de los servicios ofrecidos por TU
                PROYECTO YA. (“los Servicios”) dentro del sitio
                web. Cualquier persona que desee acceder y/o usar el sitio o
                los servicios podrá
                hacerlo sujetándose a los Términos y Condiciones de Servicios
                Generales, que son incorporados al presente por referencia. En
                consecuencia, todas las visitas y cada uno de los contratos y
                transacciones que se realicen en este sitio, como asimismo sus
                efectos jurídicos, quedarán regidos por estas reglas y
                sometidas a la legislación aplicable en la República
                Bolivariana de Venezuela.</p>

            <p>CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES DE
                SERVICIOS GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO
                Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS
                SERVICIOS.</p>

            <p>Si utilizas este Sitio significa que has leído, comprendido y
                aceptado plenamente las condiciones establecidas en los
                Términos y Condiciones de Servicios Generales de TU PROYECTO
                YA, por ello, te obligas a cumplir expresamente con las
                mismas.</p>

            <p>Queda totalmente prohibida la reproducción parcial o total de
                las imágenes de esta web independientemente para el uso que
                sean destinadas sin el consentimiento explícito de TU PROYECTO
                YA.</p>

            <h4 style="color: var(--main-color)">NFTs EN VENTA</h4>


            <p>ACME NFT, declara y el cliente acepta que
                los recursos publicados y ofrecidos para venta online tienen
                carácter de repetitivos por lo cual no existe ningún vínculo de
                exclusividad entre el cliente y el proyecto o recurso que
                adquiere. </p>

            <p>Los NFTs en venta fueron realizados
                por distintos autores, disponiendo así de un catálogo de
                NFTs en el Sitio, ACME NFT, cuenta con
                los permisos y autorizaciones formales correspondientes para su
                publicación y comercialización en serie.</p>

            <h4 style="color: var(--main-color)">CAPACIDAD</h4>

            <p>Los Servicios de venta online están sólo disponibles para
                Personas Naturales que tengan capacidad legal para comprar.
                No podrán utilizar los servicios las personas que no tengan esa
                capacidad ni los menores de edad. </p>

            <p>ACME NFT, se reserva el derecho de solicitar algún
                comprobante y/o dato adicional a efectos de corroborar los
                Datos Personales.</p>

            <p>Los usuarios podrán disfrutar del servicio de compra en el
                sitio de ACME NFT, las 24 horas del día, los 7 días de la
                semana. </p>

            <h4 style="color: var(--main-color)">FINALIDAD DE LA PÁGINA
                WEB</h4>

            <p>El fin de la página es la venta de NFTs</p>


            <h4 style="color: var(--main-color)">USUARIOS</h4>

            <p>El acceso y/o uso de este sitio web atribuye la condición de
                USUARIO, que acepta, desde dicho acceso y/o uso, los presentes
                términos de uso, no obstante, por el mero uso de la página web
                no significa el inicio de relación laboral/comercial
                alguna.</p>

            <h4 style="color: var(--main-color)">PROCEDIMIENTO PARA HACER USO
                DE ESTE SITIO DE INTERNET</h4>


            <p>El USUARIO se compromete a hacer un uso adecuado de los
                contenidos que se ofrece a través de la web y con carácter
                enunciativo, pero no limitativo, a no emplearlos para:</p>

            <p>(a) incurrir en actividades ilícitas, ilegales o contrarias a la
                buena fe y al orden público; (b) difundir contenidos o
                propaganda de carácter racista, xenófobo, pornográfico-ilegal,
                de apología del terrorismo o atentatorio contra los derechos
                humanos; (c) provocar daños en los sistemas físicos y lógicos
                de https://www.tuproyectoya.com, de sus proveedores o de
                terceras personas, introducir o difundir en la red virus
                informáticos o cualesquiera otros sistemas físicos o lógicos
                que sean susceptibles de provocar los daños anteriormente
                mencionados; (d) intentar acceder y, en su caso, utilizar las
                cuentas de correo electrónico de otros usuarios y modificar o
                manipular sus mensajes.</p>

            <p>ACME NFT, se reserva el derecho de retirar todos aquellos
                comentarios y aportaciones que vulneren el respeto a la
                dignidad de la persona, que sean discriminatorios, xenófobos,
                racistas, pornográficos, que atenten contra la juventud o la
                infancia, el orden o la seguridad pública o que, a su juicio,
                no resultaran adecuados para su publicación.</p>

            <p>En cualquier caso, ACME NFT, no será responsable de las
                opiniones vertidas por los usuarios a través del blog u otras
                herramientas de participación que puedan crearse.</p>

            <h4 style="color: var(--main-color)"
            >MEDIOS DE PAGO QUE SE PODRÁN UTILIZAR EN ESTE SITIO</h4>

            <p>Los productos y servicios ofrecidos en este sitio, pueden ser
                pagados con: a) Transferencia Bancaria Nacional o Internacional
                a la cuenta indicada por ACME NFT b) ACME NFT,
                utiliza los servicios de Pago Electrónico de los más utilizados
                en la actualidad, donde se pueden usar Tarjetas de Débito o
                Crédito. Quienes se hacen
                responsables de la seguridad de la transacción electrónica y
                protección de los datos personales.</p>

            <p>Los precios que figuran en los NFTs en venta corresponden al
                precio final, los
                cuales incluyen el impuesto o fee correspondiente.</p>

            <h4 style="color: var(--main-color)">CAPTURA DE INFORMACIÓN</h4>

            <p>-Formulario de contacto, donde el USUARIO deberá rellenar el
                campo de correo electrónico, asunto y nombre.</p>

            <p>-Formulario de registro, rellenando el USUARIO los campos
                necesarios para la adquisición del curso con los campos de
                nombre, apellidos, email y contraseña.</p>

            <p>-Cookies de rastreo, conforme a las siguientes reglas.</p>

            <p>-Navegación y Dirección IP: Al navegar por esta web, el usuario
                facilita de forma automática al servidor de la web información
                relativa a tu dirección IP, fecha y hora de acceso, el
                hipervínculo que le ha reenviado a éstas, tu sistema operativo
                y el navegador utilizado.</p>


            <p>A pesar de lo anterior, los usuarios podrán darse de baja en
                cualquier momento de los servicios prestados por ACME NFT
                o datos aportados por el USUARIO dando cumplimiento a la
                normativa vigente sobre Protección de Datos. Asimismo, tanto al
                suscribirse a esta página web como al realizar algún comentario
                en cualquiera de sus páginas y/o entradas, el usuario
                consiente:
            </p>

            <p>Asimismo, informamos que la información de nuestros usuarios
                está protegida de acuerdo a nuestra política de privacidad.
            </p>


            <p>En todo caso ACME NFT, se reserva el derecho de modificar,
                en cualquier momento y sin necesidad de previo aviso, la
                presentación y configuración de la web
                como el presente aviso legal.</p>

            <h4 style="color: var(--main-color)">USO DE LOS DATOS PERSONALES
                SUMINISTRADOS EN EL SITIO </h4>

            <p>Los datos referidos en estos términos y condiciones, tendrán
                como finalidad validar las órdenes de compra y mejorar la labor
                de información y comercialización de los productos y servicios
                prestados por la empresa. En ningún caso serán traspasados a
                terceros. </p>


            <h4 style="color: var(--main-color)">COMUNICACIONES Y
                PROMOCIONES </h4>

            <p>Los Usuarios autorizan a ACME NFT, para enviarles
                promociones al correo electrónico suministrado. </p>

            <p>El Cliente podrá solicitar la suspensión de toda comunicación
                promocional o publicitaria enviada a su correo electrónico,
                para ello al final del correo le mencionará si desea cancelar
                la suscripción o también podrá enviar un correo
                acmenftinc@gmail.com solicitando la suspensión de envio
                de promociones y publicidades.</p>

            <h4 style="color: var(--main-color)">PROPIEDAD INTELECTUAL E
                INDUSTRIAL</h4>

            <p>ACME NFT, por sí o como cesionario, es titular de todos
                los derechos de propiedad intelectual e industrial de su página
                web, así como de los elementos contenidos en la misma (a título
                enunciativo, imágenes, sonido, audio, vídeo, software o textos;
                marcas o logotipos, combinaciones de colores, estructura y
                diseño, selección de materiales usados, programas de ordenador
                necesarios para su funcionamiento, acceso y uso, etc.), son de
                propiedad de ACME NFT o bien de sus licenciantes. -Todos
                los derechos reservados-.</p>

            <p>Cualquier uso no autorizado previamente por ACME NFT, será
                considerado un incumplimiento grave de los derechos de
                propiedad intelectual o industrial del autor.</p>

            <p>Quedan expresamente prohibidas la reproducción, la distribución
                y la comunicación pública, incluida su modalidad de puesta a
                disposición, de la totalidad o parte de los contenidos de esta
                página web, con fines comerciales, en cualquier soporte y por
                cualquier medio técnico, sin la autorización de ACME NFT.</p>

            <p>El USUARIO se compromete a respetar los derechos de Propiedad
                Intelectual e Industrial titularidad de ACME NFT, Podrá
                visualizar únicamente los elementos de la web sin posibilidad
                de imprimirlos, copiarlos o almacenarlos en el disco duro de su
                ordenador o en cualquier otro soporte físico. El USUARIO deberá
                abstenerse de suprimir, alterar, eludir o manipular cualquier
                dispositivo de protección o sistema de seguridad que estuviera
                instalado en las páginas de ACME NFT.</p>

            <p>Queda terminantemente prohibido compartir la licencia para uso
                con más personas, cada licencia es personal e intransferible
                reservándonos cuantas acciones civiles y penales nos asistan en
                aras de salvaguardar nuestros derechos, todo ello bajo
                apercibimiento de incurrir en un delito contra la propiedad
                intelectual.</p>

            <h4 style="color: var(--main-color)">EXCLUSIÓN DE GARANTÍAS Y
                RESPONSABILIDAD</h4>


            <p>ACME NFT, no se hace responsable, en ningún caso, de los
                daños y perjuicios de cualquier naturaleza que pudieran
                ocasionar, a título enunciativo: por errores u omisiones en los
                contenidos, por falta de disponibilidad del sitio web, – el
                cual realizará paradas periódicas por mantenimientos técnicos –
                así como por la transmisión de virus o programas maliciosos o
                lesivos en los contenidos, a pesar de haber adoptado todas las
                medidas tecnológicas necesarias para evitarlo.</p>

            <h4 style="color: var(--main-color)">MODIFICACIONES</h4>

            <p>ACME NFT, se reserva el derecho de efectuar sin previo
                aviso las modificaciones que considere oportunas en su web,
                pudiendo cambiar, suprimir o añadir tanto los contenidos y
                servicios que se presten a través de la misma como la forma en
                la que éstos aparezcan presentados o localizados en su web.
            </p>

            <h4 style="color: var(--main-color)">OTROS SITIOS WEB</h4>

            <p>ACME NFT, no tendrá responsabilidad sobre la información
                proporcionada por otros sitios web y las consecuencias que de
                ello se deriven. La empresa no garantiza, avala ni respalda de
                ninguna forma el acceso, información o contenido de cualquier
                otro sitio web o portal en los casos que dicho acceso se
                efectúe desde o hacia este, ya sea que dicho acceso se efectúe
                mediante link, banner o mediante cualquier dispositivo
                disponible en la red. </p>

            <p>El Sitio puede contener enlaces a otros sitios web lo cual no
                indica que sean propiedad u operados por ACME NFT. En
                virtud de que ACME NFT, no tiene control sobre tales
                sitios, NO será responsable por los contenidos, materiales,
                acciones y/o servicios prestados por los mismos, ni por daños o
                pérdidas ocasionadas por la utilización de los mismos, sean
                causadas directa o indirectamente. La presencia de enlaces a
                otros sitios web no implica una sociedad, relación, aprobación,
                respaldo de ACME NFT, a dichos sitios y sus
                contenidos. </p>

            <h4 style="color: var(--main-color)">POLÍTICA DE ENLACES</h4>

            <p>Las personas o entidades que pretendan realizar o realicen un
                hiperenlace desde una página web de otro portal de Internet a
                la web de ACME NFT, deberá someterse las siguientes
                condiciones:</p>

            <p>-No se permite la reproducción total o parcial de ninguno de los
                servicios ni contenidos del sitio web sin la previa
                autorización expresa de ACME NFT.</p>

            <p>-No se establecerán deep-links ni enlaces IMG o de imagen, ni
                frames con la web de ACME NFT, sin su previa autorización
                expresa.</p>

            <p>-No se establecerá ninguna manifestación falsa, inexacta o
                incorrecta sobre la web de ACME NFT, ni sobre los
                servicios o contenidos de la misma. Salvo aquellos signos que
                formen parte del hipervínculo, la página web en la que se
                establezca no contendrá ninguna marca, nombre comercial, rótulo
                de establecimiento, denominación, logotipo, eslogan u otros
                signos distintivos pertenecientes a ACME NFT, salvo
                autorización expresa de éste.</p>


            <p>-El establecimiento del hipervínculo no implicará la existencia
                de relaciones entre ACME NFT y el titular de la página
                web o del portal desde el cual se realice, ni el conocimiento y
                aceptación de ACME NFT de los servicios y contenidos
                ofrecidos en dicha página web o portal.</p>

            <p>- ACME NFT, no será responsable de los contenidos o
                servicios puestos a disposición del público en la página web o
                portal desde el cual se realice el hipervínculo, ni de las
                informaciones y manifestaciones incluidas en los mismos. El
                sitio web de ACME NFT, puede poner a disposición del
                usuario conexiones y enlaces a otros sitios web gestionados y
                controlados por terceros. Dichos enlaces tienen como exclusiva
                función, la de facilitar a los usuarios la búsqueda de
                información, contenidos y servicios en Internet, sin que en
                ningún caso pueda considerarse una sugerencia, recomendación o
                invitación para la visita de los mismos.
            </p>

            <p>- ACME NFT, no comercializa, ni dirige, ni controla
                previamente, ni hace propios los contenidos, servicios,
                informaciones y manifestaciones disponibles en dichos sitios
                web. ACME NFT no asume ningún tipo de responsabilidad, ni
                siquiera de forma indirecta o subsidiaria, por los daños y
                perjuicios de toda clase que pudieran derivarse del acceso,
                mantenimiento, uso, calidad, licitud, fiabilidad y utilidad de
                los contenidos, informaciones, comunicaciones, opiniones,
                manifestaciones, productos y servicios existentes u ofrecidos
                en los sitios web no gestionados por ACME NFT y que
                resulten accesibles a través de ACME NFT.</p>

            <h4 style="color: var(--main-color)">DERECHO DE EXCLUSIÓN</h4>

            <p>ACME NFT, se reserva el derecho a denegar o retirar el
                acceso al portal y/o los servicios ofrecidos sin necesidad de
                preaviso, a instancia propia o de un tercero, a aquellos
                usuarios que incumplan las presentes Condiciones Generales de
                Uso.</p>

            <h4 style="color: var(--main-color)">GENERALIDADES</h4>

            <p>ACME NFT, perseguirá el incumplimiento de las presentes
                condiciones, así como cualquier utilización indebida de su web
                ejerciendo todas las acciones civiles y penales que le puedan
                corresponder en derecho.</p>

            <h4 style="color: var(--main-color)">MODIFICACIÓN DE LAS PRESENTES
                CONDICIONES Y DURACIÓN</h4>

            <p>ACME NFT, podrá modificar en cualquier momento las
                condiciones aquí determinadas, siendo debidamente publicadas
                como aquí aparecen. La vigencia de las citadas condiciones irá
                en función de su exposición y estarán vigentes hasta que sean
                modificadas por otras debidamente publicadas.</p>

            <h4 style="color: var(--main-color)">RECLAMACIONES Y DUDAS</h4>

            <p>ACME NFT, informa de que se dispone de una sección de
                reclamaciones y dudas.</p>

            <h4 style="color: var(--main-color)">LEY APLICABLE</h4>

            <p>Este acuerdo estará regido en todos sus puntos por las leyes
                vigentes en la República Bolivariana de Venezuela.</p>

            <p>Estos Términos y Condiciones Generales, se actualizaron por
                última vez el 08 de diciembre de 2022.</p>

        </div>

    </div>


{% endblock %}