<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
	<title>Acme NFT</title>
  <meta charset="utf-8" />
	<link rel="stylesheet" href="{% static 'css/address.css' %}">
  
</head>
<section>
	<body>
		<div class="main">
			<input type="checkbox" id="chk" aria-hidden="true">
				{% if are_errors %}
				<div class="signup">
					<form action="/update-address/{{ id }}" method="POST">
						{% csrf_token %}
						<label for="chk" aria-hidden="true">Actualizar Dirección</label>
						<input type="text" name="street_name" placeholder="Nombre  de la calle" required="True" value="{{ street_name }}">
						<input type="text" name="number" placeholder="Número" required="True" value="{{ number }}">
						<input type="text" name="block" placeholder="Bloque" value="{{ block }}">
						<input type="text" name="floor" placeholder="Piso" value="{{ floor }}">
						<input type="text" name="door" placeholder="Puerta" value="{{ door }}">
						<input type="text" name="city" placeholder="Ciudad" required="True" value="{{ city }}">
						<input type="text" name="code_postal" placeholder="Código Postal" required="True" value="{{ code_postal }}">
						<button>Actualizar Dirección</button>
					</form>
				</div>
				{% else %}
				<div class="signup">
					<form action="/update-address/{{ id }}" method="POST">
						{% csrf_token %}
						<label for="chk" aria-hidden="true">Actualizar Dirección</label>
						<input type="text" name="street_name" placeholder="Nombre  de la calle" required="True" value="{{ street_name }}">
						<input type="text" name="number" placeholder="Número" required="True" value="{{ number }}">
						<input type="text" name="block" placeholder="Bloque" value="{{ block }}">
						<input type="text" name="floor" placeholder="Piso" value="{{ floor }}">
						<input type="text" name="door" placeholder="Puerta" value="{{ door }}">
						<input type="text" name="city" placeholder="Ciudad" required="True" value="{{ city }}">
						<input type="text" name="code_postal" placeholder="Código Postal" required="True" value="{{ code_postal }}">
						<button>Actualizar Dirección</button>
					</form>
				</div>
				{% endif %}
		</div>
		<div class="errors-div">
				{% for error in errors %}
					<label class="error" for="chk" aria-hidden="true">
						{{ error }}
					</label>
				{% endfor %}
		</div>
	</body>
</section>
</html>