{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
<section>
    <div class="d-flex justify-content-center align-items-center flex-column">
        {% if user.first_name %}
            <h1 style="text-align: center">Bienvenido, {{user.first_name}}, a tu lista de deseos:</h1>
        {% else %}
            <h1 style="text-align: center">Bienvenido, {{user.username}}, a tu lista de deseos:</h1>
        {% endif %}
        
        {% if total == 1 %}
            <h4 style="text-align: center">Actualmente tienes un único producto guardado. ¡Aprovecha y cómpralo!</h4>
        {% else %}
            <h4 style="text-align: center">Actualmente tienes un total de {{total}} productos guardados. ¡Aprovecha y cómpralos!</h4>
        {% endif %}
        <br><br>
    </div>
    <div style="margin-top: 25px;">

        <div class="class-grid-container">

            {% for product in products %}
            
                <div class="class-card">
                    <div class="class-img-box">
                        <img src="/static/{{product.image_url}}" {% if product.stock == 0 %} class="without-stock" {% endif %} alt="{{product.name}}" />
                        {% if product.stock == 0 %}
                            <div class="no-stock">
                                SIN STOCK
                            </div>
                        {% endif %}
                        <h2 style="text-align: center; text-transform: capitalize;">{{product.name}}</h2>
                    </div>
        
                    <div class="class-content">
                        <a href="{% url 'acme-nft:product_detail' product.id %}" class="class-link">Ver producto</a>
                        <div class="class-icons-row">
                            {% if user.is_authenticated %}
                            <div class="class-lista-deseos">
                                {% if product in wishlist %}
                                <img src="{% static 'images/heart-lleno.png'%}" alt="Añadir a lista de deseos" id="product-{{product.id}}-img"></img>
                                {% else %}
                                <img src="{% static 'images/heart-lleno.png'%}" alt="Añadir a lista de deseos" id="product-{{product.id}}-img"></img>
                                {% endif %}
                            </div>
                            <div class="class-carrito">
                                <button type="button"
                                        class="btn" 
                                        data-bs-toggle="modal"
                                        data-bs-target="#add-to-cart-modal-{{product.id}}">
                                        <img src="{% static 'images/cart.png' %}" alt="Añadir al carrito" width="30px" height="30px">
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        {% if needs_pagination %}
        <div class="pagination-container">
            <div class="pagination-box">
                <ul class="pagination">
                        <li class="d-flex justify-content-center align-items-center">
                            <button style="border:none" class="btn" onclick="previousPage({{pages_range.start}}, {{pages_range.stop}})">Anterior</button>
                        </li>
                        {% for i in pages_range %}
                            {% if i == current_page %}
                            <li class="class-page" style="cursor: pointer;"><a onclick="moveToPage({{i}}, {{pages_range.start}}, {{pages_range.stop}})" class="active">{{ i | addition:1 }}</a></li>
                            {% else %}
                            <li class="class-page" style="cursor: pointer;"><a onclick="moveToPage({{i}}, {{pages_range.start}}, {{pages_range.stop}})">{{ i | addition:1 }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li class="d-flex justify-content-center align-items-center">
                            <button style="border:none" class="btn" onclick="nextPage({{pages_range.start}}, {{pages_range.stop}})">Siguiente</button>
                        </li>
                </ul>
            </div>
        </div>
        {% endif %}

        {% for product in products %}
              <div class="modal fade" id="add-to-cart-modal-{{product.id}}">
                  <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title"
                                  id="add-to-cart-modal-label">
                                  Añadir {{product.name}} al carrito</h5>
                              <button type="button"
                                      class="btn-close"
                                      data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                          </div>
                          <form action="{% url 'acme-nft:add_to_cart' product.id %}" id="add-cart-{{product.id}}" class="modal-form" method="POST">
                              {% csrf_token %} 
                              <label for="quantity">Cantidad: <input class="input-cantidad" id="quantity" type="number" value="1" min="1" max="{{product.stock}}" name="quantity"></input></label>

                              <input type="submit"
                                  class="add-to-cart-btn"
                                  value="Añadir al carrito">

                          </form>
                      </div>
                  </div>
              </div>
          {% endfor %}

    </div>
</section>
{% endblock %}