section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 85vh;
    background:  white;
    width: 100%;
}

.t-head{
    background-color: var(--main-color);
    border-bottom: 1px solid #ddd;
    color: #fff;
}

.a-tag{
    color: black;
}

.field-set{
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

.legend-field-set{
    color: var(--main-color);
}


