/* HEADER */
.class-btn, .class-btn-reversed{
    justify-content: center;
    display: inline-block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
    border: 1px solid #573b8a;
    white-space: nowrap;
    text-align: center;
    margin-right: 5%;

}

.class-btn-reversed {
    background: transparent;
    color: #573b8a;
    margin-left: 5%;
}

.class-btn:hover{
    background: #6d44b8;
    color: #fff;
    border: 1px solid #573b8a;
}

.class-btn-reversed:hover{
    background: white;
    color: #573b8a;
    border: 1px solid #573b8a;
}

.class-alert{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--main-white);
    width: 100%;
}

.class-alert > div{
    min-width: 80%;
}

.alert-error {
    color: #842029 !important;
    background-color: #f8d7da !important;
    border-color: #f5c2c7 !important;
}

.cart-icon-div{
    position: relative;
    width: 30px;
    height: 30px;
}

.cart-icon-div::before{
    content: attr(data-before);
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    min-width: 17.5px;
    background: red;
    border-radius: 50%;
    padding: 2.5px;
    color: white;
    font-size: .5em;
}

@media screen and (max-width: 991px) {
    .class-search-form{
        width: 100%;
    }

    .class-alert > div{
        min-width: 100%;
    }
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(173, 138, 229);
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

.footer-content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-component{
    color: white;
}

.class-link{
	border: 2px solid  var(--main-button-hover-dark-color);
    background: white;
    border-radius: 40px;
    font-weight: bold;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
	margin: 20px;
	padding: 10px;

}

@media screen and (max-width: 991px) {

    .footer-content{
        flex-direction: column;
        justify-content: center;
    }

    .footer-component{
        color: white;

        margin-bottom: 20px;
    }
}