/* HEADER */
.class-btn-a{
    justify-content: center;
    display: inline-block;
    cursor: pointer;
}

.class-btn-a:hover{
    border: none;
    outline: none;
}

.class-btn-a:focus{
    border: none;
    outline: none;
}

.class-btn{
	display: flex;
	justify-content: center;
	border: 2px solid  var(--main-button-hover-dark-color);
    background: white;
    border-radius: 40px;
    color: #111;
    text-align: center;
    text-decoration: none;
    word-wrap: nowrap !important;
}

.class-btn:hover{
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    background: linear-gradient(to bottom, rgb(124, 72, 209), rgb(173, 138, 229));
    transition: 0.5s all;
    text-decoration: none;
    color: inherit;

}

.class-alert{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--main-white);
    width: 100%;
}

.class-alert > div{
    min-width: 80%;
}

.alert-error {
    color: #842029 !important;
    background-color: #f8d7da !important;
    border-color: #f5c2c7 !important;
}

.cart-icon-div{
    position: relative;
    width: 30px;
    height: 30px;
}

.cart-icon-div::before{
    content: attr(data-before);
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    min-width: 17.5px;
    background: red;
    border-radius: 50%;
    padding: 2.5px;
    color: white;
    font-size: .5em;
}

@media screen and (max-width: 991px) {
    .class-search-form{
        width: 100%;
    }

    .class-alert > div{
        min-width: 100%;
    }
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(173, 138, 229);
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

.footer-content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-component{
    color: white;
}

.class-link{
	border: 2px solid  var(--main-button-hover-dark-color);
    background: white;
    border-radius: 40px;
    font-weight: bold;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
	margin: 20px;
	padding: 10px;

}

@media screen and (max-width: 991px) {

    .footer-content{
        flex-direction: column;
        justify-content: center;
    }

    .footer-component{
        color: white;

        margin-bottom: 20px;
    }
}