.card-img-top{
    width: 100px;
    height: 100px;
    padding-top: 10px;

}

.message-button{
    background-color: var(--main-button-background-color);
    border-color: var(--main-button-background-color);
    border-radius: 50%;

}

#contact-name{
    margin: 5px;
}
#contact-email{
    margin: 5px;
}
#contact-subject{
    margin: 5px;
}
#contact-message{
    margin: 5px;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    padding: 10px;
}