:root{
    --main-white: #c8c8c8;
    --main-black: #111;
    --main-color: rgb(84, 22, 183);
    --main-button-background-color: white;
    --main-button-hover-dark-color: rgb(124, 72, 209);
    --main-button-hover-light-color: rgb(173, 138, 229);
    --main-button-shadow-hover-color: rgba(0,0,0,0.4);
    --card-background-color: rgba(255, 255, 255, 0.051);
    --comment-separator-color: rgba(141, 141, 141, 0.525);
    --heart-color: red;

    /* Text */

    --text-black: black
    --text-white: white;
    
    /* Login */

    --login-input-border-color: black;

    /* Labels */

    --main-label-color: #573b8a;

    /* Filters */

    --filters-button-text-color: rgb(106, 106, 106);
    --filters-button-text-hover-color: rgb(163, 163, 163);
    --filters-menu-background-color: white;
    --filters-menu-header-border-color: rgb(163, 163, 163);

    /* Rarities */

    --common-background-color: rgba(255, 255, 255, 0.5);
    --rare-background-color: rgba(0, 106, 255, 0.5);
    --epic-background-color: rgba(140, 0, 255, 0.5);
    --legendary-background-color: rgba(255, 208, 0, 0.5);
    --mythic-background-color: rgba(197, 42, 42, 0.5);

    --common-border-color: #ffffff;
    --rare-border-color: #006aff;
    --epic-border-color: #8c00ff;
    --legendary-border-color: #ffd000;
    --mythic-border-color: #c52a2a;

    /* Modal Add Comment */

    --modal-comment-background-button-color: #875794;
    --modal-comment-text-color: #fff;
    --modal-comment-background-color: rgba(69, 69, 69, 0.7);

    /* Errors */
    --error-message-background-color: rgba(239, 80, 80, 0.5);
    --error-message-border-color: rgba(239, 80, 80, 1);
    --register-error-message-font-color: rgb(0, 0, 0);
    --register-error-message-background-color: rgba(255,255,255,0.5);

    /* Stock */

    --enough-stock-color: rgb(0, 203, 0);
    --not-much-stock-color: orange;
    --no-stock-color: red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

showcase{
    width: 80vw;
    height: 500px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 50px 0;
    padding: 0px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px var(--main-color); 
}

showcase::-webkit-scrollbar{
    height: 7px;
}

showcase::-webkit-scrollbar-thumb{
    background: var(--main-color);
	border-radius: 5px;
}

.without-stock{
    filter: grayscale(100%);
}

.enough-stock, .not-much-stock, .no-stock{
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;

}

.enough-stock{
    color: var(--enough-stock-color) !important;
}

.not-much-stock{
    color: var(--not-much-stock-color) !important;
}

.no-stock{
    color: var(--no-stock-color) !important;
}