/* BACKGROUND */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 20px;
    min-height: 100vh;
    background:  #c8c8c8;
}

.main{
	width: 550px;
	height:700px;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px rgb(124, 72, 209);
}
.card{
	position: center;
	margin: 50px;

}




.card-body{
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px rgb(124, 72, 209);
}

.card-title{
	color: black;
	font-size: 1.25em;
	display: flex;
	margin: 10px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

#new-opinion{

}

.class-link{
	display: flex;
	justify-content: center;
	border: 2px solid  var(--main-button-hover-dark-color);
    background: white;
    border-radius: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
	margin: 20px;
	padding: 10px;

}




.class-link:hover{
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    background: linear-gradient(to bottom, rgb(124, 72, 209), rgb(173, 138, 229));
    transition: 0.5s all;

}

#opinions{
	position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.class-opinion-container{
	gap: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap
}













