.cart-wrapper {
    padding: 1em 0;
    width: 50vw;
    max-height: 40vh;
    overflow-y: scroll;
}

.cart-wrapper::-webkit-scrollbar{
    width: 7px;
}

.cart-wrapper::-webkit-scrollbar-thumb{
    background: var(--main-color);
	border-radius: 5px;
}

.cart-wrapper .items {
    display: block;
    width: 100%;
    padding: 1.5em;
    border-bottom: 1px solid #fafafa;
}
.cart-wrapper .items.even {
    background: #fafafa;
}
.cart-wrapper .items .infoWrap {
    display: table;
    width: 100%;
}
.cart-wrapper .items .cartSection {
    display: table-cell;
    vertical-align: middle;
}
.cart-wrapper .items .cartSection .itemNumber {
    font-size: 0.75em;
    color: #777;
    margin-bottom: 0.5em;
}
.cart-wrapper .items .cartSection h3,
.cartSection h3.no-items {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.cartSection h3.no-items {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
}

.cart-wrapper .items .cartSection p {
    display: inline-block;
    font-size: 0.85em;
    color: #777;
    font-family: 'Montserrat', sans-serif;
}
.cart-wrapper .items .cartSection p .quantity {
    font-weight: bold;
    color: #333;
}
.cart-wrapper .items .cartSection p.stockStatus {
    color: #82ca9c;
    font-weight: bold;
    padding: 0.5em 0 0 1em;
    text-transform: uppercase;
}
.cart-wrapper .items .cartSection p.stockStatus.out {
    color: #f69679;
}
.cart-wrapper .items .cartSection .itemImg {
    width: 4em;
    float: left;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.cart-wrapper .items .cartSection.qtyWrap, .cart-wrapper .items .cartSection.prodTotal {
    text-align: center;
}
.cart-wrapper .items .cartSection.qtyWrap p, .cart-wrapper .items .cartSection.prodTotal p {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0;
}
.cart-wrapper .items .cartSection input.qty {
    width: 2em;
    text-align: center;
    font-size: 1em;
    padding: 0.25em;
    margin: 1em 0.5em 0 0;
}
.cart-wrapper .items .cartSection .itemImg {
    width: 8em;
    display: inline;
    padding-right: 1em;
}
.special {
    display: block;
    font-family: 'Montserrat', sans-serif;
}
.special .specialContent {
    padding: 1em 1em 0;
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #dadada;
}
.special .specialContent:before {
    content: "\21b3";
    font-size: 1.5em;
    margin-right: 1em;
    color: #6f6f6f;
    font-family: helvetica, arial, sans-serif;
}
a.remove {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: bold;
    background: #e0e0e0;
    padding: 0.5em;
    font-size: 0.75em;
    display: inline-block;
    border-radius: 100%;
    line-height: 0.85;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
a.remove:hover {
    background: #f30;
}

.cart-redirection-button{
    width: 30%;
    background-color: var(--main-button-background-color);
    border-radius: 15px;
    border: 1px solid var(--main-color);
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: var(--text-black);
    text-decoration: none;
    font-weight: bolder;
    font-size: 0.8em;
    transition: all 0.5s;
}

.cart-redirection-button:hover{
    background-color: linear-gradient(to bottom, var(--main-button-hover-dark-color), var(--main-button-hover-light-color));
    color: var(--text-white);
    transition: all 0.5s;
}

/* MEDIA QUERIES */

@media screen and (max-width: 991px) {
    .cart-wrapper {
        width: 100% !important;
    }
}