asgiref==3.5.2
async-timeout==4.0.2
backports.zoneinfo==0.2.1;python_version<"3.9"
beautifulsoup4==4.11.1
Deprecated==1.2.13
Django==4.1.2
django-extensions==3.2.1
django-livereload-server==0.4
django-mathfilters==1.0.0
numpy==1.23.4
packaging==21.3
pandas==1.5.1
psycopg2-binary==2.9.4
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
redis==4.3.4
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
tornado==6.2
wrapt==1.14.1
Pillow==9.3.0
django-cors-headers==3.10.0
braintree==4.17.1
xhtml2pdf==0.2.8


